@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

<h2>Hospital</h2>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div style="background-image:url(https://www.ecommunity.com/sites/default/files/styles/location_hero_full/public/location/2016-06/CommunityHospitalSouth-day.jpg?itok=zH72hpv_);height:540px;width:1145px">
            <center>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <p>
                    <a href="#" class="btn btn-info" role="button">Medico</a>
                    <a href="#" class="btn btn-info" role="button">Paciente</a>
                </p>
            </center>
        </div>

        @*<div class=" thumbnail-wrapper ">
                 <img src=" https://www.ecommunity.com/sites/default/files/styles/location_hero_full/public/location/2016-06/CommunityHospitalSouth-day.jpg?itok=zH72hpv_" alt=" Imagem como Thumbnail ">
                 <span class="btn btn-primary" role="button"></span>
                 <div class="caption">
                     <h3> Hospital </h3>
                     <p>qual o tamanho disso</p>
                     <p><a href="#" class="btn btn-primary" role="button">Cliente</a>    <a href="#" class="btn btn-primary" role="button">Paciente</a></p>
                 </div>
            </div>*@
    </div>
</div>

